<style type="text/css">



html {
  height: 100%;
  width: 100%:
}

nav#custom-navbar {
  border-radius: 0px;
  background-color: black;
  margin-bottom: 0px;
}

a.navbar-brand {
  color: white
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}



h1 {
  color: white;
  font-family: arial;
  font-weight: bold;
  text-align: center;
}

div#map {
  height: 100%;
  width: 100%;
}



</style>
