<style type="text/css">

nav {
  border-radius: 0px;
  background-color: black;
}

html {
  height: 100%;
  width: 100%:
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

a.navbar-brand {
  color: white
}

h1 {
  color: white;
  font-family: arial;
  font-weight: bold;
  text-align: center;
}

div#map {
  height: 100%;
  width: 100%;
}



</style>
``
